// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.margin-top-50{
	margin-top: 50px !important;
}

.padding-right-40{
	padding-right: 40px;
}

.bg-light{
	background-color: #509a53 !important;
}

.black-color{
	color: black !important;
}

.logo{
	font-style: italic;
	font-size: 17px;
}